@import './_fonts'
@import './_icones'
@import './_variables'
@import '../../node_modules/bootstrap/scss/_functions.scss'
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

body
    margin: 0
    width: 100%
header
    background-color: rgb(245,235,223)
    .maNavbar
        button
            border: none
            background-color: transparent
            &:hover
                font-weight: underline
                color: red
    .maNavProfil

section
    &:nth-of-type(1)
        background-color: rgb(245,235,223)
        // background-image: url('../../public/img/collect/one-page-slider-01.png')
        .s1navbarGauche
            p
                writing-mode: vertical-rl
                text-orientation: mixed
        .s1Img
            img
        .s1ContenuSac
            button
                border: 2px solid white
                color: white
                background-color: #123

    &:nth-of-type(2)
        button
            color: #b4b4b4
            background-color: transparent
            border: none
        .monTrait
            height: 30px
            width: 1px
            background-color: #b4b4b4
    &:nth-last-of-type(3)
        .maCollection
            margin: 0
            width: 100%